body{
    background-color: #000;
}

.container{
    background: #000;
}


.card{
    background: #000;
    border: 1px solid #fff;
    padding: 10px;
}

.card .card-header{
    color: #fff;
}

.card-body label{
    color: #fff;
}


